/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2015, 5:24:24 PM
    Author     : trossky
*/

html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 12px;
}
.blue{
	color:#66CCFF !important;
}
.red{
	color: #E74C3C !important;
}
a,a:visited{
	color: inherit ;
	text-decoration: none;
 
}
ul { list-style: none; margin: 20px; }
#logo{
	font-size: 1.2em;
} 
.no-margin{
	margin: 0px;
}
.text-center{
	text-align: center;
}
.be-big{
	font-size: 2em;
}
.be-red{
	background-color: #E74C3C;
}
.white{
	color: #ECF0F1;
}
.grey{
	color: #616161;
}
.large-padding{
	padding: 10px 7px;
}
.field,.top-space,.actions{
	margin-top:1em; 
}
.hidden{
	display: none !important;
}
.background-cover{
	background-position: center;
	background-size: cover;
} 
.text-left{
	text-align: left;

}
.text-right{
	text-align: right;

}
.be-small{
	font-size: 12px;
}
.underline{
	text-decoration: underline;

}
.text-justify{
	text-align: justify;
}
.article-height{
	height: 150px;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
}
.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0 px;
	font-size: 1.2em;

}
.bottom-space{
	margin-bottom:2em; 

}