<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      >

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content="Dashboard"/>
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>

          <title>
            
            <ui:insert name="title">Default Title</ui:insert>
        
        </title>
        
         <h:outputStylesheet library="css" name="jsfcrud.css"/>
        
        <link href="../resources/assets/css/bootstrap.css" rel="stylesheet"/>
    <!--external css-->
    <link href="../resources/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../resources/assets/css/zabuto_calendar.css"/>
    <link rel="stylesheet" type="text/css" href="../resources/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="../resources/assets/lineicons/style.css"/>    
    
    <!-- Custom styles for this template -->
    <link href="../resources/assets/css/style.css" rel="stylesheet"/>
    <link href="../resources/assets/css/style-responsive.css" rel="stylesheet"/>

    <script src="../resources/assets/js/chart-master/Chart.js"></script>
    </h:head>

    <h:body>
        
         <section id="container" >

                <div id="top">
             <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/servletStart" class="logo"><b>Mode Only User </b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="../resources/assets/img/ui-zac.jpg"/></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="../resources/assets/img/ui-divya.jpg"/></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="../resources/assets/img/ui-danro.jpg"/></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="../resources/assets/img/ui-sherman.jpg"/></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="Exit" href="/servletExit">Exit</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      
            
        </div>
          
                        
                        
               <div>         
          <div>
            <div id="left">
                
                                
                
                <aside>
                        <div id="sidebar"  class="nav-collapse ">
                            <!-- sidebar menu start-->
                            <ul class="sidebar-menu" id="nav-accordion">

                                <p class="centered"><a href="/servletStartProfile"><img src="../resources/assets/img/ui-sam.jpg" class="img-circle" width="60"/></a></p>
                                <h5 class="centered">

                                </h5>

                                <li class="mt">
                                    <a class="active" href="/servletHomeList">
                                        <i class="fa fa-dashboard"></i>
                                        <span>Home List</span>
                                    </a>
                                </li>
                                 <li class="mt">
                                    <a class="active" href="/servletBenefitList">
                                        <i class="fa fa-dashboard"></i>
                                        <span>Benefit List</span>
                                    </a>
                                </li>
                                <li class="mt">
                                    <a class="active" href="/servletHomeCollection">
                                        <i class="fa fa-dashboard"></i>
                                        <span>Home Collection</span>
                                    </a>
                                </li>

                                



                            </ul>
                            <!-- sidebar menu end-->
                        </div>
      </aside>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <ui:insert name="left">Left</ui:insert>
            </div>
            
                <div id="right">
                    
                    
                    <ui:insert name="right">Right</ui:insert>
                </div>
                
                <div id="content" class="right_content">
                    
                    <section id="main-content">
                    <section class="wrapper">
                        <ui:insert name="content">Content</ui:insert>
                    </section>
                   </section>

                    
                </div>
            </div>
        </div>
             
             <div id="bottom">
                 <footer class="site-footer">
          <div class="text-center">
              2015 -Arquiyectura de Software Universidad Nacional
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
                 
            
        </div>

        
        
      </section>  
            <!-- js placed at the end of the document so the pages load faster -->
    <script src="../resources/assets/js/jquery.js"></script>
    <script src="../resources/assets/js/jquery-1.8.3.min.js"></script>
    <script src="../resources/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../resources/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../resources/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../resources/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="../resources/assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="../resources/assets/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="../resources/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="../resources/assets/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="../resources/assets/js/sparkline-chart.js"></script>    
	<script src="../resources/assets/js/zabuto_calendar.js"></script>	
	
	<script type="text/javascript">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Dashgum!',
            // (string | mandatory) the text inside the notification
            text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Free version for <a href="http://blacktie.co" target="_blank" style="color:#ffd777">BlackTie.co</a>.',
            // (string | optional) the image to display on the left
            image: '../resources/assets/img/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
        });
	</script>
	
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

    </h:body>

</html>
