<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
    >
    
  <h:head>

   
         <title><ui:insert name="title">Title</ui:insert></title>
       
   

    <!-- Bootstrap core CSS -->
    <link href="../resources/assets/css/bootstrap.css" rel="stylesheet"/>
    <!--external css-->
    <link href="../resources/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <h:outputStylesheet library="css" name="jsfcrud.css"/>
        
    <!-- Custom styles for this template -->
    <link href="../resources/assets/css/style.css" rel="stylesheet"/>
    <link href="../resources/assets/css/style-responsive.css" rel="stylesheet"/>
          
       
    </h:head>

    <h:body>
         <div id="login-page">
	  	<div class="container">
    
                    
        <div id="top" class="top">
            
            <ui:insert name="top">Top</ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>
                    
          
     	</div>
	  </div>
    <script src="../resources/assets/js/jquery.js"></script>
    <script src="../resources/assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="../resources/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("../resources/assets/img/login-bg.jpg", {speed: 500});
    </script>


    </h:body>

</html>
