<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/adminProfile.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditBenefitTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditBenefitLabel_idbenefit}" for="idbenefit" />
                    <h:inputText id="idbenefit" value="#{benefitController.selected.idbenefit}" title="#{bundle.EditBenefitTitle_idbenefit}" required="true" requiredMessage="#{bundle.EditBenefitRequiredMessage_idbenefit}"/>
                    <h:outputLabel value="#{bundle.EditBenefitLabel_benefitdescription}" for="benefitdescription" />
                    <h:inputTextarea rows="4" cols="30" id="benefitdescription" value="#{benefitController.selected.benefitdescription}" title="#{bundle.EditBenefitTitle_benefitdescription}" />
                    <h:outputLabel value="#{bundle.EditBenefitLabel_benefittype}" for="benefittype" />
                    <h:inputText id="benefittype" value="#{benefitController.selected.benefittype}" title="#{bundle.EditBenefitTitle_benefittype}" />
                    <h:outputLabel value="#{bundle.EditBenefitLabel_benefitvalue}" for="benefitvalue" />
                    <h:inputText id="benefitvalue" value="#{benefitController.selected.benefitvalue}" title="#{bundle.EditBenefitTitle_benefitvalue}" />
                    <h:outputLabel value="#{bundle.EditBenefitLabel_maxsalaryallowed}" for="maxsalaryallowed" />
                    <h:inputText id="maxsalaryallowed" value="#{benefitController.selected.maxsalaryallowed}" title="#{bundle.EditBenefitTitle_maxsalaryallowed}" />
                    <h:outputLabel value="#{bundle.EditBenefitLabel_idhome}" for="idhome" />
                    <h:selectOneMenu id="idhome" value="#{benefitController.selected.idhome}" title="#{bundle.EditBenefitTitle_idhome}" >
                        <f:selectItems value="#{homeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{benefitController.update}" value="#{bundle.EditBenefitSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditBenefitViewLink}"/>
                <br />
                <h:commandLink action="#{benefitController.prepareList}" value="#{bundle.EditBenefitShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditBenefitIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
