<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/adminProfile.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditHomeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditHomeLabel_idhome}" for="idhome" />
                    <h:inputText id="idhome" value="#{homeController.selected.idhome}" title="#{bundle.EditHomeTitle_idhome}" required="true" requiredMessage="#{bundle.EditHomeRequiredMessage_idhome}"/>
                    <h:outputLabel value="#{bundle.EditHomeLabel_city}" for="city" />
                    <h:inputText id="city" value="#{homeController.selected.city}" title="#{bundle.EditHomeTitle_city}" />
                    <h:outputLabel value="#{bundle.EditHomeLabel_contracttype}" for="contracttype" />
                    <h:inputText id="contracttype" value="#{homeController.selected.contracttype}" title="#{bundle.EditHomeTitle_contracttype}" />
                    <h:outputLabel value="#{bundle.EditHomeLabel_homeaddress}" for="homeaddress" />
                    <h:inputTextarea rows="4" cols="30" id="homeaddress" value="#{homeController.selected.homeaddress}" title="#{bundle.EditHomeTitle_homeaddress}" />
                    <h:outputLabel value="#{bundle.EditHomeLabel_hometype}" for="hometype" />
                    <h:inputTextarea rows="4" cols="30" id="hometype" value="#{homeController.selected.hometype}" title="#{bundle.EditHomeTitle_hometype}" />
                    <h:outputLabel value="#{bundle.EditHomeLabel_homevalue}" for="homevalue" />
                    <h:inputText id="homevalue" value="#{homeController.selected.homevalue}" title="#{bundle.EditHomeTitle_homevalue}" />
                    <h:outputLabel value="#{bundle.EditHomeLabel_idperson}" for="idperson" />
                    <h:selectOneMenu id="idperson" value="#{homeController.selected.idperson}" title="#{bundle.EditHomeTitle_idperson}" >
                        <f:selectItems value="#{personController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{homeController.update}" value="#{bundle.EditHomeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditHomeViewLink}"/>
                <br />
                <h:commandLink action="#{homeController.prepareList}" value="#{bundle.EditHomeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditHomeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
