<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/userProfile.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewHomeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewHomeLabel_idhome}"/>
                    <h:outputText value="#{homeController.selected.idhome}" title="#{bundle.ViewHomeTitle_idhome}"/>
                    <h:outputText value="#{bundle.ViewHomeLabel_city}"/>
                    <h:outputText value="#{homeController.selected.city}" title="#{bundle.ViewHomeTitle_city}"/>
                    <h:outputText value="#{bundle.ViewHomeLabel_contracttype}"/>
                    <h:outputText value="#{homeController.selected.contracttype}" title="#{bundle.ViewHomeTitle_contracttype}"/>
                    <h:outputText value="#{bundle.ViewHomeLabel_homeaddress}"/>
                    <h:outputText value="#{homeController.selected.homeaddress}" title="#{bundle.ViewHomeTitle_homeaddress}"/>
                    <h:outputText value="#{bundle.ViewHomeLabel_hometype}"/>
                    <h:outputText value="#{homeController.selected.hometype}" title="#{bundle.ViewHomeTitle_hometype}"/>
                    <h:outputText value="#{bundle.ViewHomeLabel_homevalue}"/>
                    <h:outputText value="#{homeController.selected.homevalue}" title="#{bundle.ViewHomeTitle_homevalue}"/>
                    <h:outputText value="#{bundle.ViewHomeLabel_idperson}"/>
                    <h:outputText value="#{homeController.selected.idperson}" title="#{bundle.ViewHomeTitle_idperson}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{homeController.destroyAndView}" value="#{bundle.ViewHomeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewHomeEditLink}"/>
                <br />
                <h:commandLink action="#{homeController.prepareCreate}" value="#{bundle.ViewHomeCreateLink}" />
                <br />
                <h:commandLink action="#{homeController.prepareList}" value="#{bundle.ViewHomeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewHomeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
