<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./../template/userCreateAuth.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePersonTitle}"></h:outputText>
         </ui:define>
        <ui:define name="content">
            <h:form class="form-login"  >
                <h2 class="form-login-heading">sign in now</h2>
                <div class="login-wrap">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="#{bundle.CreatePersonLabel_idperson}" for="idperson" />
                        <h:inputText class="form-control"  id="idperson" value="#{personController.selected.idperson}" title="#{bundle.CreatePersonTitle_idperson}" required="true" requiredMessage="#{bundle.CreatePersonRequiredMessage_idperson}"/>
                        <h:outputLabel value="#{bundle.CreatePersonLabel_name}" for="name" />
                        <h:inputText class="form-control" id="name" value="#{personController.selected.name}" title="#{bundle.CreatePersonTitle_name}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_lastName}" for="lastName" />
                        <h:inputText class="form-control" id="lastName" value="#{personController.selected.lastName}" title="#{bundle.CreatePersonTitle_lastName}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_document}" for="document" />
                        <h:inputText class="form-control" id="document" value="#{personController.selected.document}" title="#{bundle.CreatePersonTitle_document}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_profession}" for="profession" />
                     
                        <h:selectOneMenu   id="profession" required="true" value="#{personController.selected.profession}" class="form-control" >
                                        <f:selectItem itemValue="Student" itemLabel="Student"/>
                                        <f:selectItem itemValue="Student" itemLabel="Student"/>
                                        <f:selectItem itemValue="Student" itemLabel="Student"/>
                                        <f:selectItem itemValue="Student" itemLabel="Student"/>
                        </h:selectOneMenu>
                           <h:outputLabel value="#{bundle.CreatePersonLabel_salary}" for="salary" />
                        <h:inputText class="form-control"  id="salary" value="#{personController.selected.salary}" title="#{bundle.CreatePersonTitle_salary}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_phone}" for="phone" />
                        <h:inputText class="form-control" id="phone" value="#{personController.selected.phone}" title="#{bundle.CreatePersonTitle_phone}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_address}" for="address" />
                        <h:inputTextarea class="form-control" rows="4" cols="30" id="address" value="#{personController.selected.address}" title="#{bundle.CreatePersonTitle_address}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_EMail}" for="EMail" />
                        <h:inputText class="form-control"  id="EMail" value="#{personController.selected.EMail}" title="#{bundle.CreatePersonTitle_EMail}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_user}" for="user" />
                        <h:inputText class="form-control" id="user" value="#{personController.selected.user}" title="#{bundle.CreatePersonTitle_user}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_password}" for="password" />
                        <h:inputText  class="form-control"  id="password" value="#{personController.selected.password}" title="#{bundle.CreatePersonTitle_password}" />
                        <h:outputLabel value="#{bundle.CreatePersonLabel_rol}" for="rol" />                    
                        <h:selectOneMenu   id="rol" required="true" value="#{personController.selected.rol}" class="form-control" >
                                        <f:selectItem itemValue="user" itemLabel="user"/>
                                        <f:selectItem itemValue="admin" itemLabel="admin"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <br/>
                    <div class="registration ogin-social-link centered">
                                     <h:panelGroup id="messagePanel" layout="block">
                                        <a class=""  href="/servletAuthentication"><h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/></a>
                                     </h:panelGroup> 
                                <br/>
                                <h2 class="form-login-heading"><h:commandLink action="#{personController.userCreate}" value="Create Account" /></h2>
                                <br />
                                 <a href="/servletIndex">Index</a>
                    </div>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
