<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/adminProfile.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPersonTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPersonLabel_idperson}" for="idperson" />
                    <h:inputText id="idperson" value="#{personController.selected.idperson}" title="#{bundle.EditPersonTitle_idperson}" required="true" requiredMessage="#{bundle.EditPersonRequiredMessage_idperson}"/>
                    <h:outputLabel value="#{bundle.EditPersonLabel_address}" for="address" />
                    <h:inputTextarea rows="4" cols="30" id="address" value="#{personController.selected.address}" title="#{bundle.EditPersonTitle_address}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_document}" for="document" />
                    <h:inputText id="document" value="#{personController.selected.document}" title="#{bundle.EditPersonTitle_document}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_EMail}" for="EMail" />
                    <h:inputText id="EMail" value="#{personController.selected.EMail}" title="#{bundle.EditPersonTitle_EMail}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{personController.selected.lastName}" title="#{bundle.EditPersonTitle_lastName}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_name}" for="name" />
                    <h:inputText id="name" value="#{personController.selected.name}" title="#{bundle.EditPersonTitle_name}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_password}" for="password" />
                    <h:inputText id="password" value="#{personController.selected.password}" title="#{bundle.EditPersonTitle_password}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{personController.selected.phone}" title="#{bundle.EditPersonTitle_phone}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_profession}" for="profession" />
                    <h:inputText id="profession" value="#{personController.selected.profession}" title="#{bundle.EditPersonTitle_profession}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_rol}" for="rol" />
                    <h:inputText id="rol" value="#{personController.selected.rol}" title="#{bundle.EditPersonTitle_rol}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_salary}" for="salary" />
                    <h:inputText id="salary" value="#{personController.selected.salary}" title="#{bundle.EditPersonTitle_salary}" />
                    <h:outputLabel value="#{bundle.EditPersonLabel_user}" for="user" />
                    <h:inputText id="user" value="#{personController.selected.user}" title="#{bundle.EditPersonTitle_user}" />
                </h:panelGrid>
                <h:commandLink action="#{personController.update}" value="#{bundle.EditPersonSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPersonViewLink}"/>
                <br />
                <h:commandLink action="#{personController.prepareList}" value="#{bundle.EditPersonShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPersonIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
