<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <link href='http://fonts.googleapis.com/css?family=Oxygen|Lato:300|Open+Sans:300' rel='stylesheet' type='text/css'></link>
        <title>Welcome Node 2</title>
        
        
        <link href="resources/index/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="resources/index/style.css" rel="stylesheet"/>
        <link href="resources/index/css/animate-custom.css" rel="stylesheet"/>
        
        <script type="text/javascript" src="resources/index/js/jquery.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
            
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
         -->
           
         
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="resources/index/js/bootstrap.min.js"></script>
	
    <!-- jmpress plugin -->
    <script type="text/javascript" src="resources/index/js/jmpress.min.js"></script>
	<!-- jmslideshow plugin : extends the jmpress plugin -->
        <script type="text/javascript" src="resources/index/js/jquery.jmslideshow.js"></script>
        <script type="text/javascript" src="resources/index/js/jquery.bxslider.min.js"></script>
    
    <!-- Responsive menu -->
    
    <script src="resources/index/js/modernizr.custom.js"></script>
    
    <script src="resources/index/js/jquery.dlmenu.js"></script>
    
    </h:head>
    <h:body>
        <div class="container">
    	<div class="header pull-left">
        	
            <a href="index.html" class="logo"><img src="resources/index/img/logo.png" alt="logo" /></a>
            
            <nav class="navbar navbar-default pull-right" role="navigation">
 
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/servletIndex">Home</a></li>
                    <li><a href="test/node2.jsp"> Session ID</a></li>
                    <li><a href="/servletHomeList">Portfolio</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                            <li><a href="/servletAuthentication"> Authentication</a></li>
                            <li><a href="/servletRegister">Register</a></li> 
                    </ul>
                  </li>
                  <li><a href="#">Our Team</a></li>
                  
                </ul>
                
              </div><!-- /.navbar-collapse -->
            </nav>
            
			
            <div id="dl-menu" class="dl-menuwrapper pull-right">
						<button class="dl-trigger">Open Menu</button>
						<ul class="dl-menu">
							<li>
								<a href="/servletIndex">Home</a>
							</li>
							<li>
								<a href="test/node2.jsp"> Session ID</a>
							</li>
							
                            <li>
								<a href="/servletHomeList">Portfolio</a>
							</li>
							<li>
								<a href="#">User</a>
								<ul class="dl-submenu">
                                                                    <li><a href="/servletAuthentication"> Authentication</a></li>
                                                                     <li><a href="/servletRegister">Register</a></li> 
                                                                       
								</ul>
							</li>
                            <li>
								<a href="#">Our Team</a>
							</li>
						</ul>
					</div><!-- /dl-menuwrapper -->

        </div>
    </div>
    <div class="slider-container pull-left text-center">
        
    	<section id="jms-slideshow" class="jms-slideshow">
				<div class="step" data-color="color-1" data-x="2000" data-y="1000" data-z="3000" data-rotate="-20">
					<div class="jms-content">
						<h3> Let's build something
beautiful together</h3>
                                    
                                            <a class="jms-link mbl" href="#"><img src="resources/index/img/iphone.png" alt="mbl" class=" img-responsive center-block" width="500" heigth="400"/></a>
                                    
                                        </div>
                                    
				</div>
				<div class="step" data-color="color-2" data-x="1000" data-z="2000" data-rotate="20">
					<div class="jms-content">
						<h3> Let's build something
beautiful together</h3>
						<a class="jms-link tab" href="#"><img src="resources/index/img/ipad.png" alt="tab" class=" img-responsive center-block" width="500" heigth="400"/></a>
					</div>
				</div>
				<div class="step" data-color="color-3" data-x="2000" data-y="1500" data-z="1000" data-rotate="20">
					<div class="jms-content">
						<h3> Let's build something
beautiful together</h3>
						<a class="jms-link pc" href="#"><img src="resources/index/img/pc.png" alt="pc" class=" img-responsive center-block" width="500" heigth="400"/></a>
					</div>
				</div>
				<div class="step" data-color="color-4" data-x="3000" data-y="2000">
					<div class="jms-content">
						<h3>Let's build something
beautiful together</h3>
						<a class="jms-link laptop" href="#"><img src="resources/index/img/leptop.png" alt="leptop" class=" img-responsive center-block" width="500" heigth="400"/></a>
					</div>
				</div>
			</section>
    
    </div>
        

<div class="container">
    
    	<div class="services">
        	<div class="services-header">
                <h2>Services</h2>
                <p>We understand your story is unique. That is why our micro-campaigns and solutions are individually crafted for each of our clients.</p>
            </div>
            
            
            <div class="row">
                	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    	<div class="services-box services-box-1">
                        	<div class="row">
                            	<div class="col-lg-3">
                                	<img src="resources/index/img/s-desktop.png" alt="s-desktop" />
                                </div>
                                <div class="col-lg-9">
                                	<div class="services-dtls">
                                    	<h2>Rent House</h2>
                                        <p>aqui podra encontrar soluciones que haran un nuevo lugar para llamar casa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    	<div class="services-box services-box-2 pull-right">
                        	<div class="row">
                            	<div class="col-lg-3">
                                	<img src="resources/index/img/colors.png" alt="s-desktop" />
                                </div>
                                <div class="col-lg-9">
                                	<div class="services-dtls">
                                    	<h2>Sale House</h2>
                                        <p>aqui podra encontrar soluciones que haran a ese lugar un sitio para llamar hogar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div><!-- End services -->
        
    
    </div><!-- End container -->
   
   
   <div class="recent-post">
   
   		<div class="container">
        	<h2>Recent Post</h2>
            
            <div class="row">
            
            	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                	<div class="r-post not-right-bdr">
                    	<div class="r-post-img">
                    		<img src="resources/index/img/blog01.jpg" alt="blog01" />
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <h3>Have a peek at what we are writing about</h3>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                
                	<div class="r-post not-right-bdr top20">
                    	<div class="r-post-img">
                    		<img src="resources/index/img/blog02.jpg" alt="blog02" />
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        
                    </div><!-- r-post -->
                	
                	<div class="r-post not-right-bdr top20 pull-left">
                    	<div class="r-post-img">
                    		<img src="resources/index/img/blog03.jpg" alt="blog03" />
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        
                    </div><!-- r-post -->
                
                
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                	
                    <div class="r-post not-right-bdr top20">
                    	<div class="r-post-img">
                    		<img src="resources/index/img/blog02.jpg" alt="blog02" />
                            <div class="date-stamp">
                            	<div class="day">02</div>
                                <div class="month">july</div>
                                <div class="year">2013</div>
                            </div>
                    	</div>
                        
                        <ul class="post-by">
                            <li><a href="#">dona</a></li>
                            <li><a href="#">Demo Posts</a></li>
                        </ul>
                        
                        <h3>Have a peek at what we are writing about</h3>
                        
                        
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                        
                    </div><!-- r-post -->
                    
                </div>
            
            </div>
            
        </div>
   
   </div><!--  End recent-post  -->
   
   
   <script type="text/javascript">
			$(function() {
				
				var jmpressOpts	= {
					animation		: { transitionDuration : '0.8s' }
				};
				
				
				$( '#jms-slideshow' ).jmslideshow( $.extend( true, { jmpressOpts : jmpressOpts }, {
					autoplay	: true,
					bgColorSpeed: '0.8s',
					arrows		: false
				}));
				
				
				$('.dropdown').hover(function(){
			 		$(this).find('.dropdown-menu').addClass('animated bounceIn');
				},
				function(){
					$(this).find('.dropdown-menu').removeClass('animated bounceIn');
				});
				
			
				//preloader and home animation starter
				$(window).load(function(){
					//$('#pre_loader_mask').hide().remove();
					//start home animation
					
					$('.services').hover(function(){
					$('.services-box-2').addClass('animated fadeInRight');
					}); 
					
					$('.services').hover(function(){
					$(this).find('.services-box-1').addClass('animated fadeInLeft');
					});
					
					$('.process').hover(function(){
					$(this).find('.process-box').addClass('animated bounceIn');
					});
					
					$('.subscribe').hover(function(){
					$(this).find('.input-lg').addClass('animated rotateInDownLeft');
					$(this).find('.btn-effect').addClass('animated rotateIn');
					});
					
					//collapse circular menu after 7 seceond
					setTimeout(circularMenuConroll,7000);
				});


			$('.bxslider').bxSlider({
			  minSlides: 6,
			  maxSlides: 2,
			  slideWidth: 800,
			  slideMargin: 10
			});
			
			
				
			$( '#dl-menu' ).dlmenu();
				
				
			});
	</script>        
    </h:body>
</html>

