<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./../template/userProfile.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPersoncollecthomeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPersoncollecthomeLabel_collectionDescription}"/>
                    <h:outputText value="#{personcollecthomeController.selected.collectionDescription}" title="#{bundle.ViewPersoncollecthomeTitle_collectionDescription}"/>
                    <h:outputText value="#{bundle.ViewPersoncollecthomeLabel_idcollection}"/>
                    <h:outputText value="#{personcollecthomeController.selected.idcollection}" title="#{bundle.ViewPersoncollecthomeTitle_idcollection}"/>
                    <h:outputText value="#{bundle.ViewPersoncollecthomeLabel_idperson}"/>
                    <h:outputText value="#{personcollecthomeController.selected.idperson}" title="#{bundle.ViewPersoncollecthomeTitle_idperson}"/>
                    <h:outputText value="#{bundle.ViewPersoncollecthomeLabel_hometype}"/>
                    <h:outputText value="#{personcollecthomeController.selected.hometype}" title="#{bundle.ViewPersoncollecthomeTitle_hometype}"/>
                    <h:outputText value="#{bundle.ViewPersoncollecthomeLabel_idhome}"/>
                    <h:outputText value="#{personcollecthomeController.selected.idhome}" title="#{bundle.ViewPersoncollecthomeTitle_idhome}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{personcollecthomeController.destroyAndView}" value="#{bundle.ViewPersoncollecthomeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPersoncollecthomeEditLink}"/>
                <br />
                <h:commandLink action="#{personcollecthomeController.prepareCreate}" value="#{bundle.ViewPersoncollecthomeCreateLink}" />
                <br />
                <h:commandLink action="#{personcollecthomeController.prepareList}" value="#{bundle.ViewPersoncollecthomeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPersoncollecthomeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
